body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra superior */
.top-bar {
    z-index: 1000;
    color: white;
    font-size: 0.9rem;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    font-size: 12px; /* Tamaño más pequeño del texto */
}
.top-bar::after {
    content: "";
    display: block;

    position: absolute;
    bottom: -10px; /* Ajusta la posición vertical de la línea */
    left: 10%; /* Ajusta la distancia desde el borde izquierdo */
    right: 10%; /* Ajusta la distancia desde el borde derecho */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
}
.top-bar .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 20px;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias líneas en pantallas pequeñas */
}

.top-bar .contact-info a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    
    
}

.top-bar .contact-info i {
    color: #3795d4;
    margin-right: 5px;
}
.top-bar .contact-info a .fab {
    color: #e0e8ee; /* Esto hará que los íconos de Facebook e Instagram estén en blanco */
    font-size: 15px;
    vertical-align: middle; /* Ajusta la alineación vertical */
    margin-top: 10px; /* Ajusta el margen superior si es necesario */
}
/* Estilos para el menú de navegación */
.navbar-custom {

    background-color: transparent;
    border-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: -2px; 
    font-size: 0.8rem; /* Ajusta este valor para cambiar el tamaño de la fuente global */
}


/* Ajustes para el menú de navegación en pantallas pequeñas */



@media (max-width: 768px) {
.navbar-custom {
margin-top: 100px; /* Ajusta el espacio superior para el menú en pantallas pequeñas */
}

.navbar-custom .navbar-brand {
margin-top: 30px; /* Ajusta el margen superior del logo en pantallas pequeñas */
}
}

@media (max-width: 768px) {
.navbar-toggler {
border: none !important; /* Elimina el borde del botón */
box-shadow: none !important; /* Elimina la sombra del botón */
}

.navbar-toggler:focus, 
.navbar-toggler:active {
outline: none !important; /* Elimina el borde de enfoque */
box-shadow: none !important; /* Asegura que no haya sombra aplicada */
}

.navbar-toggler-icon {
background-color: transparent !important; /* Asegura que el fondo del ícono sea transparente */
}


}

/* Estilo para el menú de navegación en dispositivos móviles */
/* Estilo para el menú de navegación en dispositivos móviles */
@media (max-width: 768px) {
    .navbar-nav .nav-item .nav-link {
        color: white; /* Color de texto predeterminado en modo responsive */
        transition: color 0.3s ease; /* Transición suave para el cambio de color */
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #f8f9fa; /* Color de texto al pasar el mouse en modo responsive */
        background-color: #1a4ae6; /* Fondo de color al pasar el mouse en modo responsive */
        border-radius: 0.25rem; /* Radio de borde opcional en modo responsive */
    }

    .navbar-nav .nav-item .nav-link.active {
        color: #007bff; /* Color de texto para el elemento activo en modo responsive */
        background-color: transparent; /* Fondo transparente para el elemento activo en modo responsive */
    }
}




.navbar-toggler-icon {
width: 25px;
height: 3px;
background-color: white;
display: block;
position: relative;
margin-top: 20px; 
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
content: '';
width: 25px;
height: 5px;
background-color: white;
display: block;
position: absolute;
left: 0;
transition: all 0.5s ease;
}

.navbar-toggler-icon::before {
top: -8px;
}

.navbar-toggler-icon::after {
top: 8px;
}


/* Cambia la animación cuando se hace clic */




.navbar-custom .navbar-brand img {
    height: 80px;
    margin-left: 50px;
    margin-top: -20px; 
 
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 15px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #d4af37;
}

.navbar-custom .btn-contact {
    background-color: #d4af37;
    color: white;
    padding: 8px 20px;
    border-radius: 5px; /* Rectangular */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

.navbar-custom .btn-contact:hover {
    background-color: #30b37c; /* Color de fondo cuando se pasa el mouse */
}

/* Estilos para el encabezado */
.header-content {
    background-image: url('fotos/fondos6.png'); /* Reemplaza con la URL de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    padding: 20px; /* Espacio alrededor del contenido para pantallas pequeñas */
}

.header-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
}

.header-content h1 {
    font-size: 3rem;
    font-weight: bold;
    z-index: 2  ;
    position: relative; 
}

.header-content p {
    font-size: 1.5rem;
    margin-top: 20px;
    z-index: 1;
    position: relative; 
}

.header-content .btn-custom {
    background-color: #d45637;
    color: white;
    padding: 10px 30px;
    font-size: 1.2rem;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    z-index: 1;
}

.header-content .btn-custom:hover {
    background-color: #30b39d;
}

.icon-whatsapp {
    font-size: 1rem; /* Ajusta este valor según el tamaño deseado */
    margin-right: 5px; /* Ajusta el espacio entre el ícono y el texto si es necesario */
}





/* Estilos para la sección de proyectos */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    margin: 15px;
}


.project img, .card-img-top-custom {
    max-width: 100%; /* Asegúrate de que no excedan el ancho del contenedor */
    height: auto;
}
/* Estilos para el footer */
footer.footer {
    color: white !important; /* Color de la letra */
    
    text-align: center;
   
}
    

.parrafo p {
    margin: 0;
    margin-right: 10px; /* espacio entre el texto y el icono */
}

.parrafo {
    display: flex;
 
    padding: 10px;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.projects {
    margin-bottom: 0;
    padding-bottom: 0;
}



footer.footer {
    margin-bottom: 0;
    padding-bottom: 0;
}



/* botones  */

#btn-aplicar-cupon {
    background-color: #1fb150; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 12px 24px; /* Ajusta el padding */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    border-radius: 5px; /* Añade bordes redondeados */
   
}

#btn-aplicar-cupon:hover {
    background-color: #e68a00; /* Cambia el color de fondo al pasar el mouse */
}
@media (max-width: 768px) {
    #btn-aplicar-cupon {
        width: 50%; /* Hacer que el botón ocupe todo el ancho disponible */
        padding: 10px; /* Reducir el padding */
        font-size: 14px; /* Reducir el tamaño de la fuente */
    }
}

@media (max-width: 480px) {
    #btn-aplicar-cupon {
        
        padding: 8px;
        font-size: 12px; /* Reducir aún más el tamaño de la fuente */
    }
}

#btn-aplicar-cupon2 {
    background-color: #1fb150; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 12px 10px; /* Ajusta el padding */
  
    border-radius: 5px; /* Añade bordes redondeados */
   
}

/* estilos de la seccion de nuestros beneficios */

.beneficios {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: #ffffff;
}

.contenido {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
}

.texto {
    flex: 1;
    padding-right: 40px;
}

.titulo {
    color: #f5a623; /* Color naranja */
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
}

#subtitulo-beneficios {
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
}

.lista-beneficios {
    list-style: none;
    padding: 0;
}

.lista-beneficios li {
    font-size: 16px;
    color: #2d3031;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px; /* Espacio para el icono */
}

.lista-beneficios i {
    color: rgb(67, 166, 206); /* Cambia este valor al color que prefieras */
    margin-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
    width: 100%;
}

.imagen {
    flex: 0.7;
}

.imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 1024px) {
    .contenido {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }
    
    .texto {
        padding-right: 0;
        padding-bottom: 20px; /* Espacio adicional en la parte inferior */
    }
    
    .titulo {
        font-size: 30px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
    
    .subtitulo {
        font-size: 36px; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
        margin-bottom: 20px;
    }
    
    .imagen {
        flex: 1;
        margin-top: 20px; /* Espacio adicional en la parte superior para la imagen */
    }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 24px; /* Tamaño de fuente aún más pequeño */
    }
    
    .subtitulo {
        font-size: 28px; /* Tamaño de fuente aún más pequeño */
        margin-bottom: 15px;
    }
    
    .lista-beneficios li {
        font-size: 16px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        padding-left: 20px; /* Espacio reducido para el icono */
    }
    
    .imagen {
        flex: 1;
        margin-top: 15px; /* Espacio adicional en la parte superior para la imagen */
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 20px; /* Tamaño de fuente más pequeño */
    }
    
    .subtitulo {
        font-size: 24px; /* Tamaño de fuente más pequeño */
        margin-bottom: 10px;
    }
    
    .lista-beneficios li {
        font-size: 14px; /* Tamaño de fuente más pequeño */
        padding-left: 15px; /* Espacio reducido para el icono */
    }
    
    .imagen {
        flex: 1;
        margin-top: 10px; /* Espacio adicional en la parte superior para la imagen */
    }
}


#botoninicio
{
background-color: rgb(84, 202, 192);
border-radius: 5px;



}


/* MAS BOTONES  */


#menu-toggle .fas.fa-bars {
    color: white; /* Cambia #ff6347 por el color que desees */
    font-size: 25px; /* Opcional: Cambia el tamaño del ícono si es necesario */
}




/* ESTO ES PARA LA PAGINA DE NOSOTROS EL TITULO */



/* Estilos para el encabezado h1 con un ID único */
#compromiso-title {
    font-family: 'Georgia', serif; /* Cambia la fuente */
    font-size: 36px;
    text-align: center;  /* Centra el texto */
    margin-top: 20px;
    margin-bottom: 10px;
    color: #677c68; /* Color verde para el texto */
}

/* Estilos para el enlace dentro del h1 */
#compromiso-link {
    color: inherit; /* Hereda el color del h1 */
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    display: inline-block; /* Asegura que el enlace se comporte como un bloque en línea */
}

/* Efecto hover para el enlace */




/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    #compromiso-title {
        font-size: 28px; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }

    #compromiso-line {
        width: 90%; /* Aumenta el ancho de la línea en pantallas pequeñas */
    }
}
